@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --layout-1: 2fr 1fr 1fr 1fr;
  --layout-2: 1fr 2fr 1fr 1fr;
  --layout-3: 1fr 1fr 2fr 1fr;
  --layout-4: 1fr 1fr 1fr 2fr;
  --layout-grid: 1fr 1fr 1fr 1fr;
  --layout-grid-3: 1fr 1fr 1fr;
  --layout-grid-2: 1fr 1fr;
}

@media (prefers-color-scheme: dark) {
  /* :root {  --layout-grid-3: 1fr 1fr 1fr ;} */
}

html {
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@layer utilities {
  input {
    font-size: 14px !important;
  }
  footer {
    background-color: #0a0a0a;
  }

  h1 {
    color: white;
    font-size: 80px;
    text-transform: uppercase;
  }
  h2 {
    font-size: clamp(24px, 8vw, 48px);
    margin: 0;
    line-height: 36px;
  }

  h3 {
    font-size: 16px;
    margin: 0;
  }
  a {
    color: #333;
  }
  a:hover {
    color: #ddd;
  }

  .active {
    transform: translateX(50%) scale(1.1);
  }

  .active-icon svg path {
    fill: #30c5f7 !important;
  }

  .mobile-icon svg path {
    fill: white !important;
  }

  .custom-transition {
    transition: left ease-in 0.5s, opacity ease-in-out 0.5s;
  }

  .transition-bg {
    transition: background ease-in-out 0.35s;
  }

  .time-line {
    font-size: 16px;
    border-radius: 50%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.35s;
    transform: translate(-55%, -50%);
    font-weight: bold;
    left: 0;
    &:active {
      width: 30px;
      height: 30px;
      color: red;
    }
  }
}
.hidden-scroll {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hidden-scroll::-webkit-scrollbar {
  display: none;
}

.container-grid {
  grid-auto-rows: auto;

  grid-template-columns: var(--layout-grid);
  /* transition: all 400s; */
  &:has(.recomment-1:hover) {
    grid-template-columns: var(--layout-1);
  }
  &:has(.recomment-2:hover) {
    grid-template-columns: var(--layout-2);
  }
  &:has(.recomment-3:hover) {
    grid-template-columns: var(--layout-3);
  }
  &:has(.recomment-4:hover) {
    grid-template-columns: var(--layout-4);
  }
}
@media (max-width: 768px) {
  .container-grid {
    grid-template-columns: var(--layout-grid-2);
  }
  .form-date {
    display: block;
    width: 100%;
  }
}

.ant-menu-item-selected {
  background-color: transparent !important;
}

.nav:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.nav:hover svg path {
  fill: #30c5f7 !important;
}

.image-background {
  background-image: url("../image/bb.webp");
  background-size: cover;
  background-position: top;
}

.ant-select-item-option-active {
  background-color: #f0f9ff !important;
  color: #1890ff !important;
}
.ant-select-item-option-selected {
  background-color: #bae7ff !important;
  color: #096dd9 !important;
  font-weight: bold;
}

.border-ensign {
  border: 1px solid #115ea0 !important;
  object-fit: none;
}

/* form */

.form-date {
  display: inline-block;
  width: calc(60%-8px);
}
nav-moblie
/* slick Slide */

.slick-slide {
  width: 100vw !important;
}

.slick-list {
  overflow: hidden;
}
.slick-arrow {
  display: none !important;
}

.slick-dots {
  bottom: -10px !important;
}
.slick-dots li {
  width: 5px !important;
  height: 5px !important;
}

.slick-initialized .slick-slide {
  border-radius: 0.75rem !important;
}

.slick-dots li.slick-active button:before {
  color: #096dd9 !important;
}
.sale-icon::before {
  content: "%";
  position: absolute;
  transform: translate(-90%, -110%);
  height: 30%;
  width: 40%;
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
  background-color: #0d1b32;
  font-size: 8px;
  text-align: center;
  line-height: 15px;
  color: white;
  z-index: 20;
}
.sale-icon::after {
  content: "";
  position: absolute;
  transform: translatey(-29%);
  left: -3px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #163752;
}
/* nav-moblie */
.nav-moblie {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* autocomplete */
.departure-date,
.flight-takeoff .ant-select-selector {
  border-end-end-radius: 0 !important;
  border-start-end-radius: 0 !important;
}
.flight-takeoff .ant-select-selection-search-input {
  size: 14 !important;
}
.return-date,
.flight-planing .ant-select-selector {
  border-end-start-radius: 0 !important;
  border-start-start-radius: 0 !important;
  padding-left: 16px !important;
}

.disabled {
  color: rgba(0, 0, 0, 0.25) !important;
  background-color: rgba(0, 0, 0, 0.04) !important;
}

.special::before {
  content: "";
  width: 100px;
  height: 10px;
  position: absolute;
  border-bottom: 1px solid #096dd9;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
/* drawer */

.ant-drawer-body {
  padding: 0 !important;
}
.open-option {
  transform-origin: top center;
  transform: translateY(16px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.open-option-show {
  transform: translateY(0);
  opacity: 1;
  display: flex;
}
.open-option-hidden {
  display: none !important;
}
