@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {


  h1 {
    color: white;
    font-size: 80px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 16px;
    margin: 0;
  }

  .active {
    transform: translateX(50%) scale(1.1);
  }

  .active-icon svg path {
    fill: #30C5F7 !important;
    
  }




  .custom-transition {
    transition: left ease-in 0.5s, opacity ease-in-out 0.5s;
  }


  .transition-bg {
    transition: background ease-in-out 0.35s;
  }


}

.ant-menu-item-selected {
  background-color: transparent !important
}

.nav:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.nav:hover svg path {
  fill: #30C5F7 !important;
}

